/* My Portfolio Starts */
.portfolio--section {
  display: flex;
  padding: 112px 85px;
  flex-direction: column;
  align-items: center; /* Center align items */
  gap: 80px;
}

.portfolio--container-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.portfolio--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.3px;
}

.portfolio--section--container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px; /* Simplify gap value */
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  padding-bottom: 20px; /* Add some space to show the scrollbar if needed */
  scroll-snap-type: x mandatory; /* For snapping effect */
}
.portfolio--section--card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items */
  gap: 32px;
  flex: 0 0 calc(33.33% - 28.4px); /* Adjust width to show 3 cards at a time */
  background: #fff;
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  scroll-snap-align: start; /* For snapping effect */
}

.portfolio--section--img {
  border-radius: 8px;
  width: 100%;
}

.portfolio--section--img > img {
  width: 100%;
}

.portfolio--section--card--content {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.portfolio--section--title {
  color: var(--heading-color);
}

.portfolio--link {
  text-decoration: none;
  display: flex;
  gap: 16px;
  border-bottom: 1.33px solid var(--primary);
  padding-bottom: 10.6px;
  font-weight: 600;
}

.portfolio--section--card:hover path {
  stroke: #006b6a;
}

/* Optional: Hide the scrollbar */
.portfolio--section--container::-webkit-scrollbar {
  display: none;
}

.portfolio--section--container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Portfolio Ends */

@media (max-width: 1024px) {
  .portfolio--section {
    padding: 90px 50px;
    gap: 60px;
  }

  .portfolio--section--card {
    flex: 0 0 calc(50% - 20px); /* 2 cards visible */
  }
}
@media (max-width: 768px) {
  .portfolio--section {
    padding: 80px 30px;
    align-items: center;
    gap: 50px;
  }

  .portfolio--container-box {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .portfolio--section--container {
    gap: 20px;
  }

  .portfolio--section--card {
    flex: 0 0 85%; /* swipe-friendly card size */
  }
}
@media (max-width: 480px) {
  .portfolio--section {
    padding: 60px 20px;
    gap: 40px;
  }

  .portfolio--section--card {
    flex: 0 0 100%;
  }

  .portfolio--section--card--content {
    padding: 20px;
    gap: 20px;
  }

  .portfolio--link {
    font-size: 14px;
    gap: 10px;
  }
}
